.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.AllTasksContainer{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.taskContainer{
  display: flex;
  gap: 10px;
  font-size: 20px;
}

.taskContainer > input {
  width: 20px;
}